html {
  background-color: #21252d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#crosshair {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 24px;
  font-weight: 800;
  top: 0;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

#score-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  top: 0;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}


.glowing-text {
  text-shadow: 0 0 10px #0088ff, 0 0 30px #0088ff,0 0 50px #0088ff,0 0 70px #0088ff;
}

#mainmenu {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 24px;
  font-weight: 800;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: ;
}

.menu-container {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: #FFFFFF;
}

.button {
  margin: 1rem;
  padding: 1rem;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 177, 255, 0.5);
  color: #ffffff;
  font-weight: bold;
  transition-duration: 300ms;
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgba(0, 199, 255, 0.5);
  transition-duration: 300ms;
}

#time-container {
  position: absolute;
  display: flex;
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  bottom: 2rem;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

#highscore-container {
  position: absolute;
  display: flex;
  font-size: 24px;
  font-weight: 800;
  top: 2rem;
  left: 1rem;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}

#cred-container {
  position: absolute;
  display: flex;
  font-size: 24px;
  font-weight: 800;
  bottom: 2rem;
  right: 1rem;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
}